*{
    box-sizing: border-box;
}

  body {
    background: hsl(30, 38%, 92%);
}
.container {
    width                : 530px;
    height               : 405px;
    display              : grid;
    grid-template-columns: 50% 50%;
    transform            : translate(-50%, -50%);
    position             : absolute;
    top                  : 50%;
    left                 : 50%;
    background-color     : rgb(255, 255, 255);
    border-radius        : 10px;
}

.container img {
    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;
}
.container .mobile{
    display: none;
}


.rightside {
    width  : 270px;
    height : 405px;
    padding: 15px 0 0 20px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family   : Montserrat,
        MontserratAlternates-ExtraLight;
    font-weight: 500;
    font-family: Montserrat;
    color      : #0000008c;
    font-size  : 12px;

}

.heading {
    text-transform: capitalize;
    color         : hsl(212, 21%, 14%);
    font-family   : Fraunces;
    font-weight   : 700;
    width         : 230px;
}

p {
    font-size     : 14px;
    font-family   : Montserrat;
    /* font-weight: 392; */
    color         : hsla(212, 21.1%, 13.9%, 0.77);
    width         : 230px
}

.price {
    color      : hsl(158, 36%, 37%);
    padding    : 5px 5px 0 0;
    font-family: Fraunces;


}

.price span {
    font-size      : 11px;
    font-weight    : 700;
    color          : rgb(0, 0, 0, .5);
    position       : absolute;
    padding        : 10px 0 0 25px;
    text-decoration: line-through;
}

button {
    width         : 225px;
    height        : 40px;
    background    : hsl(158, 36%, 37%);
    border-radius : 10px;
    color         : white;
    text-transform: capitalize;
    font-family   : Montserrat;
    font-weight   : 700;
    border-style  : none;
    margin-top    : 5px;
    font-size     : 14px;
}

button:hover {
    background: hsl(157, 56.6%, 20.8%);
}

button img {
    position: relative;
    right   : 10px;
    top     : 4px;
}
@media screen and (min-width:1440px) and (max-width:2000px){

        body{
            height: 800px;
        }
    
.container {
    width                : 530px;
    height               : 405px;
    display              : grid;
    grid-template-columns: 50% 50%;
    transform            : translate(-50%, -50%);
    position             : absolute;
    top                  : 50%;
    left                 : 50%;
    background-color     : rgb(255, 255, 255);
    border-radius        : 10px;
}

.container img {
    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;
}
.container .mobile{
    display: none;
}

.rightside {
    width  : 270px;
    height : 405px;
    padding: 15px 0 0 20px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family   : Montserrat,
        MontserratAlternates-ExtraLight;
    font-weight: 500;
    font-family: Montserrat;
    color      : #0000008c;
    font-size  : 12px;

}

.heading {
    text-transform: capitalize;
    color         : hsl(212, 21%, 14%);
    font-family   : Fraunces;
    font-weight   : 700;
    width         : 230px;
}

p {
    font-size     : 14px;
    font-family   : Montserrat;
    /* font-weight: 392; */
    color         : hsla(212, 21.1%, 13.9%, 0.77);
    width         : 230px
}

.price {
    color      : hsl(158, 36%, 37%);
    padding    : 5px 5px 0 0;
    font-family: Fraunces;


}

.price span {
    font-size      : 11px;
    font-weight    : 700;
    color          : rgb(0, 0, 0, .5);
    position       : absolute;
    padding        : 10px 0 0 25px;
    text-decoration: line-through;
}

button {
    width         : 225px;
    height        : 40px;
    background    : hsl(158, 36%, 37%);
    border-radius : 10px;
    color         : white;
    text-transform: capitalize;
    font-family   : Montserrat;
    font-weight   : 700;
    border-style  : none;
    margin-top    : 5px;
    font-size     : 14px;
}

button:hover {
    background: hsl(157, 56.6%, 20.8%);
}

button img {
    position: relative;
    right   : 10px;
    top     : 4px;
}
}

@media screen and (min-width:375px) and (max-width:400px){
     .container {
     width                : 345px;
     height               : 600px;
     display              : grid;
     grid-template-rows   : 50% 50%;
     grid-template-columns: 100%;
     position             : absolute;
     top                  : 330px;

 }

 .container .imge {
     display: none;
 }

 .container .mobile {
    display: block;
     width                    : 345px;
     height                   : 250px;
     border-top-right-radius  : 10px;
     border-top-left-radius   : 10px;
     border-bottom-left-radius: 0px;
 }

 .rightside {
     width   : 270px;
     height  : 119px;
     padding : 0px 0 0 25px;
     position: relative;
     top     : -45px;
 }

 .heading {
     width: 260px;
 }

 p {
     width: 300px;
 }

 button {
     width : 300px;
     height: 50px;

 }

}


  