* {
    box-sizing: border-box;
}

body {

    background: hsl(30, 38%, 92%);
}

.container {
    width                : 550px;
    height               : 415px;
    display              : grid;
    grid-template-columns: 50% 50%;
    transform            : translate(-50%, -50%);
    position             : absolute;
    top                  : 50%;
    left                 : 50%;
    background-color     : rgb(255, 255, 255);
    border-radius        : 10px;
}

.container img {
    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;
}
.container #webImg{
    width: 270px;
    height: 415px;
}

.container #mobileImg {
    display: none;
}


.rightside {
    max-width: 300px;
    height : 405px;
    padding: 20px;
}

.rightside #title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family   : Montserrat,
        MontserratAlternates-ExtraLight;
    font-weight: 500;
    font-family: Montserrat;
    color      : #0000008c;
    font-size  : 12px;

}

.rightside #heading {
    text-transform: capitalize;
    color         : hsl(212, 21%, 14%);
    font-family   : Fraunces;
    font-weight   : 700;
    width         : 230px;
    line-height: 1;
}

.rightside p {
    font-size  : 14px;
    font-family: Montserrat;
    color      : hsla(212, 21.1%, 13.9%, 0.77);
    line-height: 1.5;
}

#price h1 {
    color      : hsl(158, 36%, 37%);
    padding    : 0 5px 0 0;
    font-family: Fraunces;
    transform: translateY(14px);
}

#price #pricesm {
    font-size      : 11px;
    font-weight    : 700;
    color          : rgb(0, 0, 0, .5);
    position       : relative;
    top: -32px;
    left: 110px;
    padding        : 10px 0 0 25px;
    text-decoration: line-through;
}

.rightside button {
    width         : 225px;
    height        : 50px;
    background    : hsl(158, 36%, 37%);
    border-radius : 10px;
    color         : white;
    text-transform: capitalize;
    font-family   : Montserrat;
    font-weight   : 700;
    border-style  : none;
    margin-top    : 10px;
    font-size     : 14px;
}

button:hover {
    background: hsl(157, 56.6%, 20.8%);
}

button img {
    position: relative;
    right   : 10px;
    top     : 4px;
}

@media screen and (min-width:1440px) and (max-width:2000px) {
* {
    box-sizing: border-box;
}

body {

    background: hsl(30, 38%, 92%);
}

.container {
    width                : 550px;
    height               : 415px;
    display              : grid;
    grid-template-columns: 50% 50%;
    transform            : translate(-50%, -50%);
    position             : absolute;
    top                  : 50%;
    left                 : 50%;
    background-color     : rgb(255, 255, 255);
    border-radius        : 10px;
}

.container img {
    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;
}

.container #webImg {
    width : 270px;
    height: 415px;
}

.container #mobileImg {
    display: none;
}


.rightside {
    max-width: 300px;
    height   : 405px;
    padding  : 20px;
}

.rightside #title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family   : Montserrat,
        MontserratAlternates-ExtraLight;
    font-weight: 500;
    font-family: Montserrat;
    color      : #0000008c;
    font-size  : 12px;

}

.rightside #heading {
    text-transform: capitalize;
    color         : hsl(212, 21%, 14%);
    font-family   : Fraunces;
    font-weight   : 700;
    width         : 230px;
    line-height   : 1;
}

.rightside p {
    font-size  : 14px;
    font-family: Montserrat;
    color      : hsla(212, 21.1%, 13.9%, 0.77);
    line-height: 1.5;
}

#price h1 {
    color      : hsl(158, 36%, 37%);
    padding    : 0 5px 0 0;
    font-family: Fraunces;
    transform  : translateY(14px);
}

#price #pricesm {
    font-size      : 11px;
    font-weight    : 700;
    color          : rgb(0, 0, 0, .5);
    position       : relative;
    top            : -32px;
    left           : 110px;
    padding        : 10px 0 0 25px;
    text-decoration: line-through;
}

.rightside button {
    width         : 225px;
    height        : 50px;
    background    : hsl(158, 36%, 37%);
    border-radius : 10px;
    color         : white;
    text-transform: capitalize;
    font-family   : Montserrat;
    font-weight   : 700;
    border-style  : none;
    margin-top    : 10px;
    font-size     : 14px;
}

button:hover {
    background: hsl(157, 56.6%, 20.8%);
}

button img {
    position: relative;
    right   : 10px;
    top     : 4px;
}
}

@media screen and (min-width:375px) and (max-width:400px) {
    .container {
        width                : 345px;
        height               : 600px;
        display              : grid;
        grid-template-rows   : 50% 50%;
        grid-template-columns: 100%;
        position             : absolute;
        top                  : 330px;

    }

    .container #webImg {
        display: none;
    }

    .container #mobileImg {
        display                  : block;
        width                    : 345px;
        height                   : 250px;
        border-top-right-radius  : 10px;
        border-top-left-radius   : 10px;
        border-bottom-left-radius: 0px;
    }

    .rightside {
        width   : 270px;
        height  : 119px;
        padding : 0px 0 0 25px;
        position: relative;
        top     : -30px;
    }

    .rightside #heading{
        width: 260px;
    }

   .rightside p {
        width: 300px;
    }

   .rightside button {
        width : 300px;
        height: 50px;

    }
}

